html,

body {
  background: linear-gradient(115.07deg, #2F2750 5.86%, #4556AE 49.14%, #6EBDEA 93.34%);
  padding-bottom: 20px;
}


.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.nav-link{
  color: white;
  font-weight: 400;
  letter-spacing: 0.055rem;
  cursor: pointer;
  text-decoration-line: none;
  transition: text-decoration .2s ease-in;
}

.nav-link:hover{
  color: rgb(255, 255, 255) !important;
  text-decoration: underline 5px  #60E27E;
  text-underline-offset: 15px;
  /* text-decoration-color: #60E27E; */
  cursor: pointer;

}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}



.row{
  margin-left: 5rem;
  margin-right: 5rem;
}


.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}
.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  transition: transform .25s ease-in-out;
  fill: currentColor;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.tile-title{
  text-align: center;
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem;
}

.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: 30px;}
.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.tile-bg{
  width: 150px;
  height: 150px;
  border-radius: 3remx;
  background: url(istockphoto-464727072-612x612.jpg), linear-gradient(110.97deg, rgba(255, 255, 255, 0.5) -4.87%, rgba(255, 255, 255, 0) 103.95%);
  backdrop-filter: blur(50px);
  position: absolute;
  cursor: pointer;
  transition: all 2s ease-out;
}

.tile-bg:hover{
  width: 150px;
  height: 150px;
  border-radius: 3remx;
  background: radial-gradient(85.65% 103.63% at 90.67% 9.21%, #5BD8B2 0%, #159CA5 88.02%);
  backdrop-filter: blur(50px);
  position: absolute;
  cursor: pointer;
}

h4{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 118px;
  text-align: center;
  padding-top: 5rem;
  /* identical to box height, or 303% */
  
  letter-spacing: 1.5px;
  
  color: #FFFFFF;}

.icon{
  max-width: 60px;
  max-height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5rem;
}

.container{
  margin-left: 5;
  margin-right: 5;
}

.avatar{
  width: 60px;
}